{{define "content"}}
<div class="home-navbar">
  <a class="home-navbar-link" href="/top">Top</a>
  <a class="home-navbar-link" href="/new">Newest</a>
  <a id="sign-link" href="/account" class="btn btn-default">Account</a>
</div>

<section class="home-search">
    <div class="home-search-container">
      <div class="home-search-title-subtitle-container">
	<h1 class="home-search-title"><i class="ion-code"></i> SnippetDB</h1>
	<h2 class="home-search-subtitle">Search through 2556 snippets, and 150 snippets sets.<br>The best way to learn is by example.</h2>
      </div>
      <div class="home-search-input-container">
	  <input class="home-search-input" type="text" autofocus />
	  <i class="ion-ios-search"></i>
      </div>
      <div class="home-languages-container">
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/javascript.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/java.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/python.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/ruby.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/php.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/cplusplus.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/c.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/csharp.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/go.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/erlang.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/html5.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/css3.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/scala.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/clojure.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/swift.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/haskell.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/rust.svg" />
	  </div>
	  <div class="language-container home-language-container">
	    <img src="/icons/lang/ocaml.svg" />
	  </div>
      </div>
    </div>
</section>

{{template "sign-modal" }}

{{end}}
