{{define "navbar"}}
<section class="navbar">
  <div class="container">
        <div class="navbar-flex-layout">
          <div class="navbar-brand">
              <a href="/">
                  <i class="ion-code"></i>
                  SnippetDB
              </a>
          </div>
          <div class="navbar-search">
              <input class="navbar-search-input" type="text"/>
          </div>
          <div class="navbar-account">
              <a href="#" class="btn btn-default">Account</a>
          </div>
        </div>
      </div>
</section>
{{end}}
